<!DOCTYPE html>
<html>
<head>
	<title>AdminiBot</title>
  <!-- <base href="http://128.199.213.22/"></base> -->
  <!-- <base href="http://203.176.107.222/"></base> -->
  <base href="http://192.168.244.197/"></base>

  <!-- Vendor CSS Starts -->
  <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Vendor CSS ENDS -->
  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet">
  <!-- Custom CSS ends -->
  <style>
	ui-view {
		min-height: 885px;
		float: left;
		width: 100%;
	}
  </style>
  </head>
<body ng-app ="ProjectName" ng-controller = "appController">
	<div id="wrapper">
	  
		<!-- <ng-include ng-if="state.current.name != 'login' && state.current.name != 'emailTemplate'" src="'/templates/navbar.html'"></ng-include> -->
		<ui-view></ui-view>
		<!-- <ng-include ng-if="state.current.name != 'login'&& state.current.name != 'emailTemplate'" src="'/templates/footer.html'"></ng-include> -->
	</div>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<!-- Vendor JS  Starts-->
	<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>
	<script src="node_modules/angular-aria/angular-aria.min.js"></script>
	<script src="node_modules/angular-material/angular-material.min.js"></script>
	


	<!-- Vendor JS Ends -->
	<!-- Services starts -->
	<script type="text/javascript" src="js/services/httpservices.js"></script>
	<!-- Services ends -->
	
	<!-- Config starts -->
	<script type="text/javascript" src="js/config/routes.js"></script>
	<!-- Config ends -->
	<!-- Controller starts -->
	<script type="text/javascript" src="js/controllers/appController.js"></script>
	<script type="text/javascript" src="js/controllers/loginController.js"></script>
	<script type="text/javascript" src="js/controllers/homeController.js"></script>
	<!-- Controller ends -->

	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>